
@{
    ViewBag.Title = "Index";
}

<h1>Принятие решений</h1>

<h3>Раздел в разработке</h3>

<p>
    Здесь будет список ваших решений, которые вам нужно принять.<br />
    Для принятия решения будет создаваться квадрат Декарта, в который вы сможете вносить свои ответы. 
</p>

