@{
    ViewBag.Title = "NotAuthenticated";
}

<div class="row">
    <h1>Задачи</h1>
    <h3>Здесь вы сможете:</h3>
    <ul>
        <li><p>Создавать задачи, которые вам нужно решить</p></li>
        <li><p>Размещать эти задачи в соответствии с их приоритетом важности</p></li>
        <li><p>Контролировать ход выполнения задач</p></li>
    </ul>
    <p>Чтобы приступить к созданию задач @Html.ActionLink("авторизуйтесь", "Login", "Account") или @Html.ActionLink("зарегистрируйтесь", "Register", "Account")</p>
</div>

