@model  TaskScheduler.ViewModel.ChangeModel
@{
    ViewBag.Title = "Личный кабинет";
}

<h1>Личный кабинет</h1>
<h3>Раздел в разработке</h3>
<p>
    Здесь можно будет посмотреть статистику. Выполненные и не выполненные задачи.<br/>
    Включить уведомления на почту. 
</p>
