@model  TaskScheduler.ViewModel.ChangeModel
@{
    ViewBag.Title = "Личный кабинет";
}

<h2>Личный кабинет</h2>
<p>
    Здесь можно будет посмотреть статистику. Выполненные и не выполненные задачи.<br/>
    Включить уведомления на почту. 
</p>
