@{
    ViewBag.Title = "Home Page";
}

@*<div class="container">*@
    <div class="row">
        <h1>Добро пожаловать на TaskScheduler!</h1>
        <h3>Для чего предназначен TaskScheduler?</h3>
        <h3>Вы сможете:</h3>
        <ul>
            <li><p>Ставить перед собой задачи и контролировать их выполнение</p></li>
            <li><p>Планировать свой день и увеличивать свою продуктивность</p></li>
            <li><p>Реализовывать свои проекты быстро и эффективно</p></li>
            <li><p>Ставить перед собой смелые цели и никогда о них не забывать</p></li>
        </ul>

        <h3>Благодаря TaskScheduler Вы научитесь:</h3>
        <ul>
            <li><p>Все успевать</p></li>
            <li><p>Завершать проекты вовремя</p></li>
            <li><p>Ценить свое время и уметь им распоряжаться</p></li>
        </ul>
    </div>
@*</div>*@
