@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage")</li>
            <li>@Html.ActionLink("Выход", "Logout", "Account", new { returnUrl = Request.Url}, null)</li>
        </ul>
    //}
}
else {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
            <li>@Html.ActionLink("Вход", "Login", "Account", new { returnUrl = Request.Url }, null)</li>
        </ul>
}
