#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.panel-body span.glyphicon, .taskDatetime, .taskName, .taskStatus {
    font-size: 20px;
}

.taskStatus {
    padding-right: 0;
    margin-right: -15px;
}

.task, .editDelete, .rightColumn, .taskDatetime, .taskStatus{
    padding: 0;
}

.editDelete a {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.panel-body {
    padding: 5px;
}

.task p {
    margin: 0;
}

.move:hover {
    cursor: pointer;
}

.taskComplete:hover {
    color: green;
}

.taskDelete:hover {
    color: red;
}

.taskEdit:hover {
    color: blue;
}

.tasks {
    padding-right: 0;
    box-sizing: border-box;
}

.taskDatetime {
    width: 35%;
}

.taskStatus {
    font-size: 18px;
    text-transform: uppercase;
    width: 40%;
}

.editDelete {
    text-align: right;
    width: 25%;
}

.taskDescription {
    padding-right: 30px;
}

.task {
    width: 93%;
}

.taskName {
    text-transform: uppercase;
    font-size: 18px;
    width: 15%;
}

.taskName, .taskDescription, .taskStatus {
    word-wrap: break-word;
}

.createTask {
    margin-left: -15px;
    margin-bottom: 20px;
}